*{
	padding:0px;
	margin:0px;
}
body{
	background:url(img/body.jpg) no-repeat center;
	font-family:"times new roman",Vardana,Arial;
	font-size:16px;
	background-color:#fff;
	color:#000;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
.over{
	overflow:hidden;
}
.container{
	width:1100px;
	margin:0 auto;
}
.header-top{
	background-color:#9e5bba;
	font-weight:bold;
	border-bottom:4px solid red;
	color:#fff;
}
.header-left{
	float:left;
	padding:10px;
}
.header-right{
	float:right;
}
.header-right a{
	border-left:2px solid #fff;
	color:#fff;
	display:inline-block;
	padding:10px;
}
.header-bottom-left{
	float:left;
}
.logo{
	width:100%;
}
.header-bottom-right{
	float:right;
}
.search{
	float:left;
}
.search input[type=text]{
	padding:10px;
	border-radius:5px;
	border:2px solid gray;
}
.search input[type=submit]{
	padding:10px 15px;
	border-radius:5px;
	border:none;
	background-color:gray;
	cursor:pointer;
}
.search img{
	margin:15px 10px 0;
}
.icon{
	float:right;
	margin-left:10px;
	margin-top:10px;
	color:#9e5bba;
}
.menubar{
	background-color:gray;
}
.menubar li{
	float:left;
}
.menubar a{
	padding:6px;
	display:inline-block;
}
.menubar a:hover{
	background-color:green;
	color:#fff;
}
.active a{
	background-color:green;
	color:#fff;
}
.main-left{
	width:68%;
	float:left;
}
.slider img{
	width:100%;
}
.initiatives{
	width:48%;
	float:left;
	color:#9e5bba;
}
.initiatives li{
	border-bottom:2px solid green;
}
.news{
	float:right;
	width:48%;
	color:#9e5bba;
}
.news li{
	border-bottom:2px solid green;
}
.all{
	float:right;
	background-color:gray;
	color:#fff;
	padding:10px;
	margin-top:10px;
}
.image-link img{
	width:30%;
	margin-top:10px;
}
.main-right{
	float:right;
	width:28%;
}
.main-right img{
	width:100%;
}
.notice li{
	border-bottom:2px solid green;
}
.notice{
	color:#9e5bba;
}
.footer-image img{
	width:100%;
}
.footer-text{
	background-color:#d0cbd0;
	border-bottom:5px solid red;
}
.footer-left{
	float:left
}
.footer-left li{
	float:left;
}
.footer-left li a{
	padding:10px;
	border-right:2px solid #fff;
	display:inline-block;
}
.footer-right{
	float:right;
}
.footer-right{
	text-align:right;
}